<network>
  <name>{{ libvirt_net_name }}</name>
  <forward mode='nat'/>
  <bridge name='br-k8s-net' stp='on' delay='0'/>
  <ip address='{{ libvirt_net_gateway }}' netmask='255.255.255.0'>
    <dhcp>
      <range start='{{ libvirt_dhcp_range_start }}' end='{{ libvirt_dhcp_range_end }}'/>
    </dhcp>
  </ip>
  <dns enable='yes'/>
</network>
